\documentclass[11pt]{article}
\usepackage{geometry}
\usepackage{graphicx}
\usepackage{amsmath}
\usepackage{amssymb}
\usepackage{booktabs}
\usepackage{natbib}
\geometry{margin=1in}

\title{ {{ doc.title | default("Untitled Manuscript") }} }
{% if doc.authors %}
\author{\begin{tabular}{c}
{% for author in doc.authors %}
{{ author.name }}{% if author.affiliation %} \\ {{ author.affiliation }}{% endif %}{% if not loop.last %} \\[1ex]{% endif %}
{% endfor %}
\end{tabular}}
{% else %}
\author{Anonymous}
{% endif %}

\date{}

\begin{document}
\maketitle

{% if doc.abstract %}
\begin{abstract}
{{ doc.abstract | default("") }}
\end{abstract}
{% endif %}

{% for section in doc.sections or [] %}
\section*{ {{ section.name }} }
{{ section.content }}

{% endfor %}

\bibliographystyle{plainnat}
\bibliography{references}

\end{document}
